{% extends 'base.html' %}
{% block title %}À propos{% endblock %}
{% block content %}
<div class="mt-4">
     <div class="card">
          <div class="card-body">
               <h1 class="card-title">À propos de Bonnes Lectures</h1>
               <p>
                    Bonnes Lectures est une application web conçue pour les amateurs de livres. Elle permet
                    aux utilisateurs de découvrir, ajouter, modifier et supprimer des livres, ainsi que de
                    lire et écrire des critiques.
               </p>
               <p>
                    Cette application a été développée dans le cadre d'un TP de Framework Web à
                    l'Université d'Orléans en 2024.
               </p>
               <p>
                    N'hésitez pas à explorer les fonctionnalités offertes par Bonnes Lectures et à
                    contribuer en partageant vos avis sur vos lectures préférées !
               </p>
          </div>
     </div>
</div>
{% endblock %}