{% extends 'base.html' %}
{% block title %}Bienvenue{% endblock %}
{% block content %}
<div class="py-5 text-center">
     <h1 class="display-5">Bonnes Lectures</h1>
     <p class="lead">Des avis, des recommandations et une communauté de lecteurs pour vous aider à choisir votre prochaine lecture.</p>
     <p>
          <a class="btn btn-primary btn-lg" href="{% url 'book_list' %}">Voir les livres</a>
     </p>
</div>
<div class="mt-4">
     <div class="row">
          <div class="col-md-8 offset-md-2">
               <p>
                    Vous souhaitez des avis sur les dernières nouveautés littéraires ? Vous souhaitez des
                    recommandations pertinentes pour choisir votre prochain livre ? Vous êtes au bon endroit.
               </p>
               <p>
                    Feuilletez les critiques et ajoutez vos propres commentaires. Partagez vos coups de coeur avec la communauté.
               </p>
          </div>
     </div>
</div>
{% endblock %}